@charset "utf-8";
@import url(./normalize.css);
/*기본 박스 사이징 재 설정 (width에 border-width와 padding을 포함하여 계산)*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 숨김콘텐츠 */
.a11y-hidden {
  position: absolute;
  /* 영역 바깥에 위치시키는 것. 
  그러나 스크린리더 사용시 좋지 않음.
  text-indent: -10000px;
  left: -10000px; */
  /* top: -9999em; */
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  /* clip은 position이 absolute일때만 사용가능 하지만 권장하지 않음.(구형 브라우저에서 동작) */
  clip-path: polygon(0 0, 0 0, 0 0);
  /* (0,0,0,0은 마스킹 처리 -보여줄 영역 지정-) clip보다 모던코드 */
}
/*css Module*/
/*float 이슈를 해결하기 위한 CSS 선언*/
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
/*기본설정*/
a {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.4rem;
  color: #181818;
  background-color: #fff;
}
.container {
  background-color: silver;
  /* height: 100vh; */
  /* display: flex;
    /*flex direction 기본값은 row*/
  /* flex-direction: column;
    align-items: center; */
}

.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
  position: relative;
}

/*로고*/
.logo {
  margin: 0;
  position: absolute;
  top: 45px;
  left: 65px;
}

/*멤버링크*/
.member {
  margin: 0;
  padding: 2px 0;
  list-style-type: none;
  text-align: right;
  font-size: 0;
  position: relative;
  right: -10px;
}
.member li,
.member a {
  display: inline-block;
}
.member li {
  display: inline;
  font-size: 1.4rem;
}
.member li:nth-child(n + 2)::before {
  content: ":";
  margin: 0 2px;
}
.member a {
  text-transform: uppercase;
  padding: 8px 10px;
}
.visual {
  background-color: lime;
  height: 10vh;
}

.main {
  display: flex;
  /* flex-direction: row; */
  flex-flow: row wrap;
  /*단축표기법*/
  justify-content: space-around;
  /* justify-content: space-evenly;는 IE에서 지원안되는 경우도 있으니
    그럴 경우 around로 우회 */
  height: 60vh;
  padding: 30px 15px;
  background-color: #fff;
  /* padding: 30px 15px; */
}

.group {
  /* float: left;
    height: 60vh;
    margin: 0 15px; */
}

.group1 {
  background-color: tomato;
  width: 250px;
}

.group2 {
  background-color: skyblue;
  width: 380px;
}

.group3 {
  background-color: pink;
  width: 190px;
}

.slogan {
  background-color: orange;
  height: 10vh;
}

.footer-bg {
  background-color: purple;
  width: 100vw;
  /* display: flex;
    flex-direction: row;
    justify-content: center; */
}

.footer {
  background-color: yellow;
  height: 10vh;
}
/* 보라색/파란색은 부모요소때문에 안보임 */
