@charset "utf-8";

@import url("./normalize.css");

.navigation {
  height: 80px;
  border-bottom: 1px solid lightgray;
}
.navigation-inner {
  display: flex;
  margin: 0 auto;
  height: 100%;
  max-width: 1024px;
}

.logo-area {
  padding: 0 12px;
  margin: auto 36px auto 0;
}
.menu-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.menu-style {
  display: flex;
}
.menu-right {
}
.menu-item {
  padding: 0 14px;
}
